body {
    font-family: sans-serif;
    padding: 30px;
    background: #f5f5f5;
}

textarea {
    width: 100%;
    height: 250px;
    font-family: monospace;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

pre {
    background: #000;
    color: #0f0;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
}
